.*.swp
var/cache/*
var/log/*
var/run/*
var/sstore/*
var/sessions/data/*
var/sessions/lock/*
.~*
*~
*.pgdump
*.pgdump.gz
*.pyc
__pycache__
etc/*secrets.yaml
etc/**/*secrets.yaml
downloads
art
build
dist
Pym_elFinder.egg-info
.coverage

